# Auto detect text files and perform LF normalization
* text=auto
# for ubuntu
* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.sh text eol=lf
KraftonEngine/Content/Game/Map/samurai-arena/source/Samurai[[:space:]]Arena/Samurai[[:space:]]Arena_StaticMesh.uasset filter=lfs diff=lfs merge=lfs -text
